@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@layer base {
body {
    font-family: 'Poppins', sans-serif;
}
}

@custom-variant dark (&:where(.dark, .dark *));

theme{
    --color-primary: #E8E8E8
    --color-primaty-dark: #636363
}
